{% extends "layout.html" %}

{% block heading %}
    Book details
{% endblock %}

{% block body %}
<style>
    form * {
    margin-bottom : 1%;
    }
    input[type='submit'] {
        float: right;
    }
    .reviews {
    background-color: #dee;
    }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='stars.css') }}">
<div class="row">
  <div class="col"></div>
    <div class="col-6">
<table>
    <tr>
        <th>Title</th>
        <td>{{bookdata.title}}</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{bookdata.author}}</td>
    </tr>
    <tr>
        <th>ISBN</th>
        <td>{{bookdata.isbn}}</td>
    </tr>
    <tr>
        <th>Year of publishing</th>
        <td>{{bookdata.year_publish}}</td>
    </tr>
    <tr>
        <th>Average rating</th>
        <td>{{average_rating}}</td>
    </tr>
    <tr>
        <th>Number of ratings</th>
        <td>{{review_count}}</td>
    </tr>
    {% if user_review %}
    <tr>
        <th>Users review</th>
        <td>{{ user_review.review_comment}}<br>
        {% for i in range(5) %}
            {% if i < user_review.stars %}
            <span>&starf;</span>
            {% else %}
            <span>&star;</span>
            {% endif %}
        {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>
        <br>
        {% if user_review %}
        <span> Review submitted </span>
        {% else %}
    <form action="{{ url_for('getbook',isbn=bookdata.isbn) }}" method="post" class="stars">
        <textarea rows = "3" cols = "58" name = "review">Enter details here...
         </textarea>
        <div class="starrating d-flex  flex-row-reverse">
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
        </div>
        <input type = "submit" value = "submit" />
    </form>
        {% endif %}
        {% if other_review %}
        <br><h4>Reviews from other users</h4>
        {% for review in other_review %}
        <div class="reviews">
        <p>{{ review.review_comment }}</p>
        <p> {% for i in range(5) %}
                {% if i < review.stars %}
                <span>&starf;</span>
                {% else %}
                <span>&star;</span>
                {% endif %}
            {% endfor %}
        </p>
        </div>
        {% endfor %}
        {% endif %}
</div>
<div class="col"></div>
</div>


{% endblock %}
