<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
Form for registration
<form action="{{ url_for('register') }}" method="post">
        <input type="text" name="name" placeholder="Enter Your Name">
    <input type="text" name="username" placeholder="Enter Your user Name">
    <input type="password" name="upwd" placeholder="Enter password">
    <input type="email" name="email" placeholder="Enter your email-id">
        <button>Submit</button>
</form>

Form for login
<form action="{{ url_for('login') }}" method="post">
    <input type="text" name="uname" placeholder="Enter Your user Name">
    <input type="password" name="upwd" placeholder="Enter password">
    <button>Login</button>
</form>
Search
<form action="{{ url_for('search') }}" method="get">
      <input type="search" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
</form>

Search results
{% if search_found %}
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
    </tr>
{% for book in book_list %}
    <tr>
        <td>book.title</td>
        <td>book.author</td>
        <td>book.ISBN</td>
    </tr>
{% endfor %}
</table>
{% endif %}
</body>
</html>